body {

    background-color: rgb(197, 176, 149);

}

#game-board {

   display: grid;

   grid-template-columns: 1fr 1fr 1fr;

    height: 600px;
    width: 600px;

    border: 4px rgb(126, 67, 13) groove;
    border-radius: 10px;

    background-image: url('../resource/wood-grain-texture.jpg');
}

.circle {

    /*display: inline-block;*/

    height: 150px;
    width: 150px;

    border: 2px rgb(173, 94, 19) inset;

    margin: auto;

    border-radius: 90px;

    background-repeat: no-repeat;
    background-position: center;

    background-size: 180px;
}

.p1 { background-image: url('../resource/tp_pbb.png');}

.p2 { background-image: url('../resource/tp_rwb.png');}