body {
  margin: 20px;
  padding: 0;
}

header {
  background-color: #F0F0F0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #707070;
  margin-left: 20px;
}

nav a,
nav a:visited {
  color: #707070;
  text-decoration: none;
}

nav a:hover {
  color: #00AFEF;
  text-decoration: underline;
}
